body, html {
    height: 90%;
  }
  .bg {
    background-image: url("https://res.cloudinary.com/dqsoqlqze/image/upload/v1705950645/img46_mdcj7m.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }